<div id="mine">
	<h2><img src="img/mine_top.jpg"/></h2>
	<div class="mine_main"></div>
	<li class="minelist"></li>
	<li class="minelist2" ng-click="goerji()"></li>
	<li class="minelist3" ng-click="gomore()"></li>
</div>
<!--常见问题-->
<div class="mine_erji" >
	<div>
		<span ng-click="gomine()"><img src="img/left.png"/></span>
		<span>常见问题与意见反馈</span>	
	</div>
	<img src="img/Screenshotpro.jpg"/>
</div>
<!--更多设置-->
<div class="mine_more" >
	<div>
		<span ng-click="gomine()"><img src="img/left.png"/></span>
		<span>更多设置</span>	
	</div>
	<img src="img/Screenshotshiezhi.jpg"/>
</div>