<div id="home"  ng-controller='HomeController'>
	<div class="banner">
		<div class="home_top">
			<span><img src="img/saoyisao.png"/></span>
			<input type="text" placeholder="搜索目的地/折扣/关键字"/>
			<span><img src="img/xiaoxi.png"/></span>
		</div>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="img/1.jpg"/></div>
				<div class="swiper-slide"><img src="img/2.jpg"/></div>
				<div class="swiper-slide"><img src="img/3.jpg"/></div>
			</div>
			<!-- 如果需要分页器 -->
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<!--导航-->
	<div id="home_nav">
		<div>
			<li ng-repeat="x in datanav">
				<!--<img src="img/home_src.png"/>-->
				{{x.name}}
				<!--<p><img ng-src="{{x.icon}}"/></p>-->
			</li>
		</div>
	</div>
	<!--访问历史-->
	<div class="homeHistory">
		<div>
			<i class="active">访问历史</i>
			<span>日本</span>
			<span>韩国</span>
			<span>澳大利亚</span>
			<span>泰国</span>
			<span>香港</span>
			<span>新加波</span>
			<span>马来西亚</span>
		</div>
	</div>
	<!--四页屏幕-->
	<div class="homeFour">
		<li ng-repeat="promo in datapromo">
			<img ng-src="{{promo.img}}"/>
		</li>
	</div>
	<!--出行必备-->
	<section class="home_section">
		<h5>出行必备</h5>
		<div class="homescroll">
			<div>
				<li ng-repeat="cover in dataGars">
					<img ng-src="{{cover.cover}}"/>
				</li>
			</div>
		</div>
	</section>
	<section class="homehot">
		<h5>当季热门</h5>
		<div ng-repeat="hot in hotTopic">
			<div class="hot_pic"><img ng-src="{{hot.img}}" alt="" /></div>
			<div class="homescroll scrolllist">
			   <div>
				   <li id="homehot_list">
				   	<img ng-src="{{hot.elite.title}}" alt="" />
				   </li>
			   </div>
			</div>
		</div>
	</section>
	<section class="Lovely">
		<h5>猜你喜欢</h5>
		<div ng-repeat="like in love">
			<div class="lovetravel">
				<img ng-src="{{like.pic}}"/>
			</div>
			<p class="lovetitle">{{like.title}}</p>
			<span class="loveSalecount">{{like.sale_count}}件已售</span>
			<span class="lovelistprice">{{like.list_price}}<i>元起</i></span>
			<span class="loveshortname">{{like.cate_short_name}}</span>
		</div>
		<p class="home_footer">查看全部折扣商品</p>
	</section>
</div>