<div id="home"  ng-controller='HomeController'>
	<div class="banner">
		<div class="home_top">
			<span><img src="img/saoyisao.png"/></span>
			<input type="text" placeholder="搜索目的地/折扣/关键字" ng-focus="searchGo()"/>
			<span><img src="img/xiaoxi.png"/></span>
		</div>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="img/1.jpg"/></div>
				<div class="swiper-slide"><img src="img/2.jpg"/></div>
				<div class="swiper-slide"><img src="img/3.jpg"/></div>
			</div>
			<!-- 如果需要分页器 -->
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<!--导航-->
	<div id="home_nav">
		<div>
			<li id="Jumpto" ng-repeat="x in datanav" ng-click="Jumptocar(x)">
				{{x.name}}
			</li>
		</div>
	</div>
	<!--访问历史-->
	<div class="homeHistory">
		<div>
			<i class="active1">访问历史</i>
			<span>日本</span>
			<span>韩国</span>
			<span>澳大利亚</span>
			<span>泰国</span>
			<span>香港</span>
			<span>新加波</span>
			<span>马来西亚</span>
		</div>
	</div>
	<!--四页屏幕-->
	<div class="homeFour">
		<li ng-repeat="promo in datapromo">
			<img ng-src="{{promo.img}}"/>
		</li>
	</div>
	<!--出行必备-->
	<section class="home_section">
		<h5>出行必备</h5>
		<div class="homescroll">
			<div>
				<li ng-repeat="cover in dataGars">
					<img ng-src="{{cover.cover}}"/>
				</li>
			</div>
		</div>
	</section>
	<section class="homehot">
		<h5>当季热门</h5>
		<div ng-repeat="hot in hotTopic">
			<div class="hot_pic"><img lazy-src="{{hot.img}}" alt="" /></div>
			<div class="homescroll scrolllist">
			   <div>
				   <li id="homehot_list" ng-repeat="y in hot.elite">
				   	<img ng-src="{{y.pic}}" alt=""/>
				   	<p>{{y.title}}</p>
				   	<span><em>{{y.productType}}</em>元起</span>
				   </li>
			   </div>
			</div>
		</div>
	</section>
	<section class="Lovely">
		<h5>猜你喜欢</h5>
		<div ng-repeat="like in love">
			<div class="lovetravel">
				<img lazy-src="{{like.pic}}" data-original="{{y.pic}}" class="lazy"/>
			</div>
			<p class="lovetitle">{{like.title}}</p>
			<span class="loveSalecount">{{like.sale_count}}件已售</span>
			<span class="lovelistprice">{{like.list_price}}<i>元起</i></span>
			<span class="loveshortname">{{like.cate_short_name}}</span>
		</div>
		<p class="home_footer" ng-click="hometocitywalk()" >查看全部折扣商品</p>
	</section>
</div>
<!--搜索界面-->
	<div id="homesearch" class="animated bounceInUp">
		<div class="place_top">
			<input type="text" placeholder="搜索目的地/折扣/关键字" />
			<span ng-click="searchOut()">取消</span>
		</div>
		<!--搜索-->
		<p class="hotsearch">热门搜索</p>
		<div class="citycountry">
			<span>日本</span>
			<span>韩国</span>
			<span>泰国</span>
			<span>三亚</span>
			<span>巴厘岛</span>
			<span>马尔代夫</span>
			<span>台湾</span>
			<span>厦门</span>
			<span>美国</span>
			<span>东京</span>
			<span>大阪</span>
			<span>香港</span>
			<span>新加坡</span>
			<span>澳大利亚</span>
		</div>
	</div>
	


